{% extends 'partials/base.html' %}
{% block title %}
    <title>staff page</title>
{% endblock %}
{% block content %}
{% include 'partials/topnav.html' %}
<div class="container pt-3">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-8">
            <table class="table bg-light">
                <thead class="bg-info text-white">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in items %}
                    <tr>
                        <th scope="row"><a class="btn btn-info" href="">view</a></th>
                        <td>{{i.username}}</td>
                        <td>{{i.email}}</td>
                        <td>{{i.profile.phone}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}