{% extends 'partials/base.html' %}
{% block title %}
    <title>profile page</title>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row my-3">
        <div class="col-md-4">

        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-info text-white">
                    <h6>Profile Page</h6>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <span class="h4">Profile Information</span>
                            <a href="{% url 'update-page' %}" class="btn btn-info btn-sm float-end">Edit</a>
                            <hr>
                            <table class="table bg-white table-borderless">
                                <tbody>
                                    <tr>
                                        <th scope="row">Name</th>
                                        <td>{{user.username}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Email</th>
                                        <td>{{user.email}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Phone</th>
                                        <td>{{user.profile.phone}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Address</th>
                                        <td>{{user.profile.address}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-4">
                            <img src="{{ user.profile.image.url }}" alt="dp" class="img-fluid img-thumbnail">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}